.container {
    width: 100%;
    gap: 15px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    gap: 15px;
    background-color: #494b4d;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
    box-sizing: border-box;
    font-size: larger;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar .search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar .search input {
    width: 100%;
    padding: 5px;
    background-color: #e9ecef;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.navbar .add-record {
    display: flex;
    align-items: center;
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
}

.navbar .add-record:hover {
    background-color: #0e5eb3;
}

.navbar .dropdown {
    position: relative;
}

.navbar .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
}

.navbar .dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.navbar .dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}

.card {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: relative;
}

.card-content {
    flex: 1;
    text-align: left;
}

.card-header {
    font-weight: bold;
}

.card-actions {
    position: relative;
}

.card-icon {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.card-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    z-index: 1000;
}

.card-item {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    color: #333;
    font-size: 14px;
}

.card-item:hover {
    background-color: #f1f1f1;
    color: #007bff;
}

@media (max-width: 600px) {
    .navbar .add-record::after {
        content: "Add";
    }
    .navbar .add-record span {
        display: none;
    }
}